{% extends "layout.html" %}
{% block content %}
<h1 class="heading">Human Rights First: Blue Witness</h1>
<h5>Web App: Blue Witness Labeler</h5>
<p>A police violence ranking app, created to help the Blue Witness dev team label tweets to be used as training data for a machine learning model affectionately known as <em>FrankenBert</em>.</p>
<h5>Developer: Robert Sharp</h5>
<h5>Tech Stack:</h5>
<ul>
    <li>Logic: Python</li>
    <li>API: Flask</li>
    <li>Interface: HTML</li>
    <li>Styling: CSS</li>
    <li>Graphs: Plotly</li>
    <li>Hosting: AWS Elastic Beanstalk</li>
    <li>Database: AWS RDS PostgreSQL</li>
</ul>
{% endblock %}
