{% extends "layout.html" %}
{% block content %}
<h1 class="heading">Human Rights First: Blue Witness</h1>
<h5>Web App: Blue Witness Labeler</h5>
<p>A police violence ranking app, created to help the Blue Witness dev team label tweets to be used as training data for a machine learning model affectionately known as <em>FrankenBert</em>.</p>
<h5>Developers</h5>
<ul>
    <li>Robert Sharp, Project Lead</li>
</ul>
<h5>Tech Stack</h5>
<ul>
    <li>Logic: Python</li>
    <li>API: Flask</li>
    <li>Interface: HTML</li>
    <li>Styling: CSS</li>
    <li>Graphs: Plotly</li>
    <li>Hosting: AWS Elastic Beanstalk</li>
    <li>Database: AWS RDS PostgreSQL</li>
</ul>
<h5>Developer Log</h5>
<ul>
    <li>v0.1.3 - Adds Developer Log to the about page</li>
    <li>v0.1.2 - Streamlines the graphing code to utilize SQL over pandas</li>
    <li>v0.1.1 - Fixes the refresh bug with a hash map</li>
    <li>v0.1.0 - Adds PB2020 data to source for random tweets</li>
    <li>v0.0.4 - Adds pie chart to the ranks page</li>
    <li>v0.0.3 - Adds 'about.html' page</li>
    <li>v0.0.2 - Adds 'ranks.html' with recent labels table</li>
    <li>v0.0.1 - Initial deployment</li>
</ul>
{% endblock %}
